GO
/****** Object:  Table [dbo].[Wallboard]    Script Date: 29/6/2567 13:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallboard](
	[WB_ID] [int] IDENTITY(1,1) NOT NULL,
	[Offered_Call] [int] NULL,
	[Abandoned_Call] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
