GO
/****** Object:  Table [dbo].[OnlineAgents]    Script Date: 29/6/2567 13:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineAgents](
	[OnlineAgent_id] [int] IDENTITY(1,1) NOT NULL,
	[agent_id] [int] NULL,
	[agent_code] [varchar](20) NULL,
	[DIDQueueID] [int] NULL,
	[StartOnline] [datetime] NULL,
	[uuid] [varchar](50) NULL,
	[AgentName] [varchar](100) NULL,
	[AgentStatus] [char](1) NULL,
	[IsLogin] [char](1) NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_OnlineAgents] PRIMARY KEY CLUSTERED 
(
	[OnlineAgent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OnlineAgents] ON 

INSERT [dbo].[OnlineAgents] ([OnlineAgent_id], [agent_id], [agent_code], [DIDQueueID], [StartOnline], [uuid], [AgentName], [AgentStatus], [IsLogin], [LastUpdated]) VALUES (1, NULL, N'9999', NULL, CAST(N'2023-08-31T13:56:26.033' AS DateTime), N'cb40f193-1317-4b17-a360-506cd89700f7', N'Dev2', N'1', N'1', CAST(N'2023-08-31T13:56:26.033' AS DateTime))
INSERT [dbo].[OnlineAgents] ([OnlineAgent_id], [agent_id], [agent_code], [DIDQueueID], [StartOnline], [uuid], [AgentName], [AgentStatus], [IsLogin], [LastUpdated]) VALUES (2, NULL, N'3891', NULL, CAST(N'2023-09-05T14:27:35.483' AS DateTime), N'0a9c6366-5ec7-4727-8698-045b977afe61', N'Dev2', N'1', N'1', CAST(N'2023-09-05T14:27:35.483' AS DateTime))
INSERT [dbo].[OnlineAgents] ([OnlineAgent_id], [agent_id], [agent_code], [DIDQueueID], [StartOnline], [uuid], [AgentName], [AgentStatus], [IsLogin], [LastUpdated]) VALUES (3, NULL, N'9998', NULL, CAST(N'2023-09-07T14:05:20.360' AS DateTime), N'5ac956de-560b-4888-8b69-d77dfdf3191d', N'Dev2', N'1', N'1', CAST(N'2023-09-07T14:05:20.360' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[OnlineAgents] OFF
GO
ALTER TABLE [dbo].[OnlineAgents] ADD  CONSTRAINT [DF_OnlineAgents_StartOnline]  DEFAULT (getdate()) FOR [StartOnline]
GO
ALTER TABLE [dbo].[OnlineAgents] ADD  CONSTRAINT [DF_OnlineAgents_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
