GO
/****** Object:  Table [dbo].[didagent]    Script Date: 29/6/2567 13:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[didagent](
	[didagent_id] [int] IDENTITY(1,1) NOT NULL,
	[DIDQueueID] [int] NULL,
	[agent_id] [int] NULL,
 CONSTRAINT [PK_didagent] PRIMARY KEY CLUSTERED 
(
	[didagent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[didagent] ON 

INSERT [dbo].[didagent] ([didagent_id], [DIDQueueID], [agent_id]) VALUES (8, 1, 14)
INSERT [dbo].[didagent] ([didagent_id], [DIDQueueID], [agent_id]) VALUES (10, 2, 11)
INSERT [dbo].[didagent] ([didagent_id], [DIDQueueID], [agent_id]) VALUES (11, 2, 12)
GO
SET IDENTITY_INSERT [dbo].[didagent] OFF
GO
