GO
/****** Object:  Table [dbo].[agent]    Script Date: 29/6/2567 13:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agent](
	[agent_id] [int] IDENTITY(1,1) NOT NULL,
	[agent_code] [varchar](20) NULL,
	[gender] [varchar](10) NULL,
	[name] [varchar](250) NULL,
	[lastname] [varchar](250) NULL,
	[tel] [varchar](20) NULL,
	[AGDescription] [varchar](255) NULL,
	[datecreate] [datetime] NULL,
	[agent_status] [char](1) NULL,
	[tt_id] [int] NULL,
	[Tier_Team] [varchar](50) NULL,
	[Is_Login] [char](1) NULL,
	[Is_Logout] [char](1) NULL,
	[Is_Wrap] [char](1) NULL,
	[Is_Available] [char](1) NULL,
	[Is_Not_Ready] [char](1) NULL,
	[Is_Talking] [char](1) NULL,
	[Is_Agent] [varchar](1) NULL,
	[is_user_mapped] [char](1) NULL,
	[is_deleted] [char](1) NULL,
 CONSTRAINT [PK_agent] PRIMARY KEY CLUSTERED 
(
	[agent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[agent] ON 

INSERT [dbo].[agent] ([agent_id], [agent_code], [gender], [name], [lastname], [tel], [AGDescription], [datecreate], [agent_status], [tt_id], [Tier_Team], [Is_Login], [Is_Logout], [Is_Wrap], [Is_Available], [Is_Not_Ready], [Is_Talking], [Is_Agent], [is_user_mapped], [is_deleted]) VALUES (18, N'3701', N'male', N'amornrat.i_ai', N'14540', N'', N'ทดสอบ', CAST(N'2023-07-18T14:07:37.403' AS DateTime), N'0', 17, N'System Default Team (Do Not Delete)', NULL, NULL, NULL, NULL, NULL, N'0', N'1', N'1', N'0')
INSERT [dbo].[agent] ([agent_id], [agent_code], [gender], [name], [lastname], [tel], [AGDescription], [datecreate], [agent_status], [tt_id], [Tier_Team], [Is_Login], [Is_Logout], [Is_Wrap], [Is_Available], [Is_Not_Ready], [Is_Talking], [Is_Agent], [is_user_mapped], [is_deleted]) VALUES (19, N'3702', N'female', N'preeda.g_pg', N'14710', N'', NULL, CAST(N'2023-07-18T14:07:37.410' AS DateTime), N'0', 23, N'AI_PG', NULL, NULL, NULL, NULL, NULL, N'0', N'1', N'0', N'0')
INSERT [dbo].[agent] ([agent_id], [agent_code], [gender], [name], [lastname], [tel], [AGDescription], [datecreate], [agent_status], [tt_id], [Tier_Team], [Is_Login], [Is_Logout], [Is_Wrap], [Is_Available], [Is_Not_Ready], [Is_Talking], [Is_Agent], [is_user_mapped], [is_deleted]) VALUES (20, N'3703', N'Female', N'kamonnete.t_pg', N'60335', N'', NULL, CAST(N'2023-07-18T14:07:37.417' AS DateTime), N'0', 23, N'AI_PG', NULL, NULL, NULL, NULL, NULL, N'0', N'1', N'0', N'0')
GO
SET IDENTITY_INSERT [dbo].[agent] OFF
GO
ALTER TABLE [dbo].[agent] ADD  CONSTRAINT [DF_agent_datecreate]  DEFAULT (getdate()) FOR [datecreate]
GO
ALTER TABLE [dbo].[agent] ADD  CONSTRAINT [DF_agent_agent_status]  DEFAULT ((0)) FOR [agent_status]
GO
ALTER TABLE [dbo].[agent] ADD  CONSTRAINT [DF_agent_Is_Talking]  DEFAULT ((0)) FOR [Is_Talking]
GO
ALTER TABLE [dbo].[agent] ADD  CONSTRAINT [DF_agent_Is_Agent]  DEFAULT ((1)) FOR [Is_Agent]
GO
ALTER TABLE [dbo].[agent] ADD  CONSTRAINT [DF_agent_is_user_mapped]  DEFAULT ('0') FOR [is_user_mapped]
GO
ALTER TABLE [dbo].[agent] ADD  CONSTRAINT [DF_agent_is_deleted]  DEFAULT ('0') FOR [is_deleted]
GO
